@import '../../../../App.scss';
@import '../../websites.scss';



/*Mobile-------------------------------------*/
@media only screen and (max-width: 799px) {
  .outcomes-container {
    padding: 6em 0 6em;
    h1 {
      font-size: 2.5em;
    }
  }
  .box-content {
    width: 260px;
    height: 440px;
    
    img {
      width: 100px;
      height: 100px;
    }
    h1 {
      font-size: 1.75em;
      
    }
    p {
      font-size: 1.2em;
    }
  }
  .outcomes-cta {
    font-size: 1.5em;
   }
   .outcomes-cta-container {
    width: 80%;
    margin: auto;
  }
  
}

/*Tablet-------------------------------------*/
@media only screen and (min-width: 800px) and (max-width: 1099px) {
  .outcomes-container {
    padding: 6em 0;
    h1 {
      font-size: 2em;
    }
  }
  .box-content {
    width: 260px;
    height: 450px;
    
    img {
      width: 110px;
      height: 110px;
    }
    h1 {
      font-size: 1.85em;
      
    }
    p {
      font-size: 1.2em;
    }
  }
  .outcomes-cta {
    font-size: 1.75em;
    padding: 0.5em
   }
   .outcomes-cta-container {
    width: 40%;
    margin: auto;
  }
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 1100px) {
  .outcomes-container {
    padding: 6em 0;
    h1 {
      font-size: 2.5em;
    }
  }

  .box-content {
    width: 300px;
    height: 430px;
    
      img {
        width: 110px;
        height: 110px;
      }
      h1 {
        font-size: 2em; 
      }
      p {
        font-size: 1.2em;
      }
    }

    .outcomes-cta {
      font-size: 1.75em;
    }
    .outcomes-cta-container {
      width: 20%;
      margin: auto;
    }
  
}

.outcomes-container {
  background-color:  $base-color; // matte black

  h1 {
    font-family: $font-family-1;
  }  
}

.boxes {
  padding: 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  transition: all 3s;
 }
 
 .box {
   transition: all 3s;
   margin: 3.5em 1em;
   background-color: $base-color;
   background: 
       linear-gradient(-45deg,  
       $color-1, 
       $theme-color-websites,
       $color-2,
       rgb(20, 30, 48)
       );
   padding: 5px;

 }
 
 
 
 .box-content {
   font-family: $font-family-2;
   transition: all 3s;
   background: $base-color; // matte black
   color: white;
   padding: 2em;
   
  img {
    position: relative;
    top: -27%;
    left: 30%;
    
    background: 
      linear-gradient(-45deg,  
          $color-1, 
          $theme-color-websites,
          $color-2,
          rgb(20, 30, 48)
      );
  
    border-radius: 50%;
    padding: 10px;

  }
 
 
   h1 {
     position: relative;
     top: -25%;
     color: $color-2;
     text-align: center;
     padding: 0.25em 0.01em 1em 0.01em;
     
   }
   p {
     position: relative;
     top: -30%;
     line-height: 1.5em;
     padding: 0.01em 0.25em 1em 0.25em;
   }
 }
 
 
 .outcomes-cta-container {
    background-color: $theme-color-websites;
 }

 