
@import '../../App.scss';

$theme-color-websites: rgb(255,105,180);

.web-headline {
  background: 
  linear-gradient(-45deg,  
    $color-1, 
    $theme-color-websites,
    $color-2,
    rgb(20, 30, 48)
 
   
  );
  background-size:  600% 600%;
 
  
}










