
@import '../../App.scss';

$theme-color-websites: rgb(255,105,180);

.web-headline {
  background: 
  linear-gradient(-45deg,  
    $color-1, 
    $theme-color-websites,
    $color-2,
    rgb(20, 30, 48)
 
   
  );
  background-size:  600% 600%;
 
  
}







.price-container {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
   
      rgb(255,105,180, 0.75), 
      rgb(37, 149, 194, 0.5)
     
    ),
    /* bottom, image */
   
    url('../../assets/images/price-container.jpg');
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

    h1 {
      font-size: 2.75em;
      padding-bottom: 1em;
      text-align: center;
      font-family: 'Poiret One', sans-serif;
      
    }

    
}




.price-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  font-size: 1.5em;
  //font-family: 'Poppins', sans-serif;
  font-family: 'Pontano Sans', sans-serif;
  padding: 3em 1em 2em 1em;
 
  color: white;
  h2 {
    text-align: center;
   }
   h4 {
    text-align: center;
   }

}

.price-card {
  border-radius: 2em;
  border: 2px solid white;
  border: none;
  padding: 3em;
  backdrop-filter: blur(15px);
  font-family: 'Quicksand', sans-serif;
  //background-color: white;

  ul {
    padding: 2em 1em;
  }
  li {
    //text-decoration: wavy;
    
    line-height: 2em;
    
  }
}

.price-cta {
  padding: 1.2em;
  background-color: rgb(255,105,180);
  text-align: center;
  border-radius: 2em;
  padding: 0.5em 0.1em;
  font-family: 'Quicksand', sans-serif;
  a {
    color: white;
    text-decoration: none;
    
    
    
    
  }

}
.more-benefits {
  padding: 8em;
  background: #E4EBF5;

  h1 {
    font-size: 3.5em;
    padding-bottom: 1.5em;
    text-align: center;
    font-family: 'Poiret One', sans-serif;
    color: black;
  }
}
.more-benefits-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5em;
  

 
}
.benefit-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 border-radius: 2em; 
 padding: 4em;
 box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem white;
  text-align: center;
  width: 300px;
  height: 280px;
 
 
  img {
    width: 125px;
   height: 125px;
   
  }
  h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.45em;
    padding-top: 1em;
  }

}


.cta-section {
  background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 6em;
   padding-bottom: 6em;
   
}

.ctas-container {
  width: 75%;

  //position: relative;
 
  border-radius: 2em;
  background: 
  radial-gradient(
    farthest-corner at bottom left,
    rgba(4,76,108,1), 
    transparent
  ),
  radial-gradient(
    farthest-corner at bottom right,
    rgb(78, 31, 76), 
    transparent 600px
  ),

  radial-gradient(
    farthest-side at top right,
    rgb(133, 6, 122), 
    transparent 
  ),
  radial-gradient(
    farthest-corner at top left,
    rgb(31, 143, 119), 
    transparent 700px
  ),
  radial-gradient(
    circle at top right,
    rgba(130, 43, 180, 0.5), 
    transparent 
  );

  
}

.cta-text {
  color: white;
  text-align: center;


  h2 {
    font-size: 2em;
    padding-bottom: 1.25em;

  }
  p {
    font-size: 1.5em;
    padding-bottom: 2.25em;
  }
}

.cta-content {
  font-family: 'Quicksand', sans-serif;
  padding: 3em 6em;

  
}

.cta-btn {
  font-family: 'Quicksand', sans-serif;
  padding: 2em;
  background-color: rgb(255,105,180);
  width: 25%;
  text-align: center;
  margin: auto;
  border-radius: 2em;
  padding: 0.75em 0.1em;
  a {
    color: white;
    text-decoration: none;
    font-size: 1.75em;
    
    
  }
}