@import '../../App.scss';

/*Mobile-------------------------------------*/
@media only screen and (max-width: 799px) {
  .cta-text {
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1.25em;
    }
  }
  .cta-content {
    padding: 3em 2em;
  }
  
  .cta-cta {
    font-size: 1.5em;
  }
}

/*Tablet-------------------------------------*/
@media only screen and (min-width: 800px) and (max-width: 1099px) {
  .cta-text {
    h2 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.35em;
    }
  }
  .cta-content {
    padding: 3em 5em;
  }

  
  .cta-cta {
    font-size: 1.65em;
  }
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 1100px) {
  .cta-text {
    h2 {
      font-size: 2.8em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .cta-content {
    padding: 3em 6em;
  }

  .cta-cta {
    font-size: 1.75em;
  }
}


/* --------------------------*/
.cta-section {
  background-color: $base-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6em;
  padding-bottom: 6em;
}

.cta-container-section {
  width: 75%;
  border-radius: 2em;
}

.cta-text {
  color: white;
  text-align: center;

  h2 {
    padding-bottom: 1em;
    font-family: $font-family-1;
  }
  p {
    padding-bottom: 2.25em;
  }
}

.cta-content {
  font-family: $font-family-2;
}

.cta-cta-container {
  text-align: center;
  padding-bottom: 2em;
 }
 

.cta-cta {
  color: white;
}