




.menu-open-icon {
  color: white;
  font-size: 40px;
 
}

.menu-close-icon {
  color: white;
  font-size: 40px;
  
}

.btn-container {
  position: fixed;
  top: 10px;
  right: 10px;
 
 
  z-index: 999;

    
  
}




button {
  cursor: pointer;
  margin: 1.25rem;
  border-radius: 10.5em;
  border: none;
  padding: 0.25rem 0.5rem;
  
  background-color: black;
  //background-color: transparent;
 
  // backdrop-filter: blur(40px);
  // transition: 100ms backdrop-filter linear;
 
 
 

}