aside {
 display: flex;
 font-family: 'Poiret One', sans-serif; 


}

.container {
  z-index: 99;
  background-color: #242020;
  width: 75%;
  font-size: 1.75rem;
  display: flex;
  justify-content:space-around;
  
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.link {
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #e7dcdc 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
  margin: 20px;

  
}

.link:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.5s ease-in-out;
}

.link:hover {
 background-position: 0;
}

.link:hover::before{
  width: 100%;
}



.cta{
  border: 2px solid white;
  border-radius: 2em;
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.4em 1.75em;
  overflow: hidden;
  transition: 1s all ease;
  
  margin: 20px;
}
.cta::before{
  background: #54b3d6;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
  width: 0%;
  height: 100%;
}

.cta:hover::before{
  width: 100%;

}

.cta:hover {
  border: 2px solid #242020;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  z-index: 99;
  background: rgb(4,76,108);
  background: linear-gradient(84deg, rgba(4,76,108,1) 0%, rgba(37,149,194,1) 50%, rgba(39,193,230,1) 100%);
  width: 25%; 
  text-align: center;
  font-size: 3.5em;
 
}

.contact-info-container a {
  text-decoration: none;
  font-weight: 600;
  display: block;
  color: black;
  font-size: 0.35em;

  
}



.whatsapp-icon {

}

.email-icon {

}

.logo {
  font-family: dodger;
  font-size: 0.4em;
  letter-spacing: 0.1em;
  color: black;
  padding-bottom: 2em;
}

.social-icon {
  font-size: 1.4em;
   color: white;
 }

.socials {
  display: flex;
  justify-content: center;

  a {
    padding: 3em 0.4em;
  }


}





 

