@import '../../App.scss';

.cta-container-1 {
  border-radius: 2em;
  border-radius: 2em;
  text-align: center;
  li {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
}

.cta-container-1:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cta-1 {
  font-family: $font-family-2;
  text-decoration: none;
  color: white;
  text-align: center;
}
  
